body {
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

.headerAndHomeBlock {
    background-image: url(img/home-background.jpg);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
    font-family: 'Karla', sans-serif;
}

.HomeBlock {
    display: flex;
    font-family: 'Karla', sans-serif;
}

.genuineContainer {
    display: flex;
    position: absolute;
    justify-content: center;
    color: black;
    top: 3.7vh;
    left: 41%;
    font-size: 20px;
    font-weight: bold;
    height: 300px;
    width: 300px;
    z-index: 1;
}

.genuine {
    position: absolute;
    top: 130px;
    z-index: 1;
}

.fita {
    filter: invert();
    height: 300px;
}

.tasty {
    color: white;
}

.tastyPassion {
    position: absolute;
    top: 130px;
    display: flex;
    width: 100vw;
    height: 150px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 140px;
}

.losango20,
.losango01 {
    border: 3px solid white;
    transform: rotate(-5.5rad);
}

.numeroLosango20,
.numeroLosango01 {
    font-family: 'Oswald', sans-serif;
    color: white;
    position: relative;
    bottom: 20px;
    padding-left: 7px;
}

.losango20,
.losango01,
.numeroLosango20,
.numeroLosango01 {
    height: 25px;
    width: 25px;
    font-size: 11px;
    position: relative;
    z-index: 1;
}

.losango20,
.numeroLosango20 {
    position: relative;
    right: 45px;
}

.losango01,
.numeroLosango01 {
    left: 35px;
}

.blocoLosango01,
.blocoLosango20 {
    width: 10px;
    position: relative;
    top: 20px;
}

.cookingSinceBlock {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    width: 33vw;
    left: 35vw;
    top: 57vh;
}

.cooking {
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 50px;
}

.view {
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    justify-content: center;
    color: white;
    position: absolute;
    left: 45vw;
    top: 72vh;
    height: 50px;
    width: 175px;
    background-color: sandybrown;
}

.view:hover {
    background-color: darkblue;
    transition: all 1s;
}