* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    background-color: rgba(34, 32, 35);
}

.titleOurBreakfast {
    display: flex;
    background-color: rgba(34, 32, 35);
    height: 100px;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

.letraLaranja {
    color: chocolate;
}

.cardapioBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    height: 60%;
    color: white;
    text-align: justify;
}

.cardapioBlock h3 {
    font-size: 27px;
    font-weight: lighter;
}

.cardapioBlock p {
    font-family: 'Karla', sans-serif;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 25px;
}

.cardapioEsquerda,
.cardapioDireita {
    display: flex;
    flex-direction: column;
    width: 34vw;
}

.numeroMenu {
    font-style: normal;
}

.containerButton {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.viewBreakfast {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
    height: 50px;
    width: 160px;
    background-color: sandybrown;
}

.viewBreakfast:hover {
    background-color: chocolate;
    transition: all 1s;
}